
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html  ,body{
    background-color:rgb(0, 0, 0) !important ;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}



.container-elements{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 !important;
    padding:0 !important ;
    margin: 0 auto !important;
    max-width: 2000px;
}

.container-sound{
    width: 80%;
    min-width: 350px;
    height: 200px;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


.radio-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.live-badge {

    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    margin-bottom: 20px;
    display: inline-block;
}

.slogan {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.frequency {
    font-size: 1.2em;
    color: #666;
}


.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#play-pause {
    font-size: 1.5em;
    border: none;
    background: none;
    cursor: pointer;
}

#volume {
    margin-left: 10px;
    background-color: white;
}


.container-reproductive{
    display: flex;
    align-items: center;
    height: 90px;
    width: fit-content;
    font-weight:bolder;
    flex-direction: column;
    justify-content: center;

}

.container-en-vivo{
    display: flex;
    justify-content: center;
    align-items: center;

}

.en-vivo{
    height: fit-content;
    margin: 0;
    margin-right: 60px;
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Bebas Neue';
}

.helper{
    color:white;
    margin: 0;
    font-size: 1.5rem;
}

/* Estilos para el botón circular */
.circle-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    border: none;
    font-size: 16px;
    cursor: pointer;
    animation: pulse 1s infinite; /* Aplicar la animación */

    margin-left: 30px;
    margin-bottom: 2.5px;
    
}


.audio-player{
    width: 100%;
}

.container-play-range{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-play{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius:50px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.icon-play{
    color: black;
}


.container-range{
    display: flex;
    align-items: center;
}

.icon-speaker{
    color:white
}

.container-images {
    width: 100px;
    height: 200px;
}

.row>*{
    padding: 0 !important;
    padding-right: 0;
    padding-left: 0;
}


.container-images img {
    width: 100%;
    height: 100%;

}


.container-slogan{
    background-color: white;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.container-slogan img{
    width: 200px;
    height: 90px;
}


.slogan{
    font-size: 1.7rem;
}


.word-good{
    color: red;
    font-weight: bold;
}




.sub-container-contactanos-footer  , .sub-container-info-footer{
    margin-top:10px !important;
    text-align: center;
}

.span-info-footer{
    color: red;
}


.info-footer{
    color: white;
    margin: 0;
}

.info-contactanos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;

}

.info-contactanos p{
    margin:0;
    color: white;
}

.title-contactanos{
   font-weight: bold;
}


.icon-contactanos{
    color: red;
    margin-right: 10px;
}

.hashtag-mas-musica{
    font-size: 1.4rem;
}

.hashtag-brutal{
    font-size: 2.7rem;
    font-weight: bolder;
}


        /* Estilo base para el input range */
input[type="range"] {
    -webkit-appearance: none; /* Elimina el estilo predeterminado en WebKit (Chrome, Safari) */
    appearance: none; /* Elimina el estilo predeterminado en otros navegadores */
    height: 8px; /* Altura del control deslizante */
    background: #ddd; /* Color de fondo de la pista */
    border-radius: 5px; /* Bordes redondeados */
    outline: none; /* Elimina el borde al enfocar */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Elimina el estilo predeterminado en WebKit */
    appearance: none;
    width: 20px; /* Ancho del thumb */
    height: 20px; /* Altura del thumb */
    background: white; /* Color del thumb */
    border-radius: 50%; /* Hace el thumb circular */
    cursor: pointer; /* Cambia el cursor al pasar sobre el thumb */
}


@media (max-width: 650px) {
    .container-sound{
        width: 100%;
    }

    .helper{
        font-size: 0.95rem;
    }

    .slogan{
        font-size: 1.1rem;
    }

    .container-reproductive{
        width: 100%;
    }
    .controls{
        justify-content: space-around;
    }
    input[type="range"] {

        width: 100px;
    }
    
  }

/* Definición de la animación */
@keyframes pulse {
    0% {
        transform: scale(0.3); /* Tamaño normal */
    }
    50% {
        transform: scale(0.5); /* Escalar al 105% */
    }
    100% {
        transform: scale(0.3); /* Volver al tamaño normal */
    }
}